themes {
    default {
        fg "#{{white_hex}}"
        bg "#{{black_hex}}"
        black "#{{black_hex}}"
        red "#{{red_hex}}"
        green "#{{green_hex}}"
        yellow "#{{yellow_hex}}"
        blue "#{{blue_hex}}"
        magenta "#{{magenta_hex}}"
        cyan "#{{cyan_hex}}"
        white "#{{white_hex}}"
        orange "#{{orange_hex}}"
    }
}

